{% extends "base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ comentario.autor.nombre }}</a>
            <small class="text-muted">{{ comentario.date_created.strftime('%Y-%m-%d') }}</small>
            {% if comentario.autor == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                    href="{{ url_for('actualizarComentario', com_id=comentario.id) }}">Actualizar</a>
                <button type="button" class="btn btn-danger btn-sm m-1"
                     data-toggle="modal"
                    data-target="#deleteModal">Eliminar</button>
            </div>
            {% endif %}
        </div>
        <p class="article-content">{{ comentario.contenido }}</p>
        <small class="text-muted"><a href="{{ url_for('likeComentario', com_id=comentario.id) }}">{{ comentario.likes }}</a></small>
    </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar comentario?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <form action="{{ url_for('eliminarComentario', com_id=comentario.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}