{% extends "base.html" %}
{% block content %}
<div class="content-section ">
    <form method="POST" action="">
        {{ forma.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legenda }}</legend>

            <div class="form-group">
                {{ forma.titulo.label(class="form-control-label") }}

                {% if forma.titulo.errors %}
                {{ forma.titulo(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in forma.titulo.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ forma.titulo(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ forma.contenido.label(class="form-control-label") }}
                {% if forma.contenido.errors %}
                {{ forma.contenido(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in forma.contenido.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ forma.contenido(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ forma.tema.label(class="form-control-label") }}
                {% if forma.tema.errors %}
                {{ forma.tema(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in forma.tema.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ forma.tema(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ forma.estatus.label(class="form-control-label") }}
                {% if forma.estatus.errors %}
                {{ forma.estatus(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in forma.estatus.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ forma.estatus(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            


        </fieldset>

        <div class="form-group">
            {{ forma.submit(class="btn btn-outline-info") }}
        </div>

    </form>
</div>
{% endblock content %}