<!DOCTYPE html>
<html>
  <head>title</head>
  <body onload="myFunction()">

  <h1>Hello World!</h1>
  <button onclick="myFunction()">Create Heading</button>
  <script type="text/javascript"> 
    var count = 0;
    function myFunction(){
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "http://0.0.0.0:5000/preguntas");
      xhr.send();
      xhr.onload = function() {
        var myObject = xhr.responseText;
        var json = JSON.parse(xhr.responseText);
        count = Object.keys(json).length;
        var h1 = document.createElement('h1');
        h1.textContent = count;
        h1.setAttribute('class', 'note');
        document.body.appendChild(h1);
      };
  
      xhr.onerror = function() { // solo se activa si la solicitud no se puede realizar
        console.log("request error");
      };
  
      xhr.onprogress = function(event) { // se dispara periódicamente
        console.log("Recibido"+event.loaded+"of" +event.total);
      };
  }</script>
</body>
</html>
